<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">
    
    <title>衣購網 首頁</title>


    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="assets/css/font-awesome.css">

    <link rel="stylesheet" href="assets/css/templatemo-hexashop.css">-

    <link rel="stylesheet" href="assets/css/owl-carousel.css">

    <link rel="stylesheet" href="assets/css/lightbox.css">

    <link rel="stylesheet" href="assets/css/style2.css">

    <link rel="stylesheet" href="assets/css/all2.css">

 <style>
</style>
    </head>
    
    <body>
   
        <!-- ***** Preloader Start ***** -->
        <div id="preloader">
            <div class="jumper">
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>  
        <!-- ***** Preloader End ***** -->
       
       
        <!-- ***** Header Area Start ***** -->
      <header class="header-area header-sticky" style="position: fixed; background-color: white;" th:fragment="header">
       <div th:replace="header :: header"></div>
      </header>
      <!-- ***** Header Area End ***** -->
       <span hidden id="uid" th:text="${session.uid}"></span>
     

    <!-- ***** Main Banner Area Start ***** -->
    <div class="main-banner" id="top">
        <!-- ***** Search Area Start ***** -->
          <div th:replace="header :: search">Search</div>
        <!-- ***** Search Area End ***** -->
        
            <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6">
                    <div class="right-content">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="right-first-image">
                                    <div class="thumb">
                                        <a href="#">
                                            <div class="inner-content">
                                                <h4>&#128085;</h4>
                                                <span><strong>男生上衣</strong></span>
                                            </div>   
                                        
                                        <img src="assets/cloth/men_top.jpg">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="right-first-image">
                                    <div class="thumb">
                                        <a href="#">
                                        <div class="inner-content">
                                            <h4>&#x1F45A;</h4>
                                            <span><strong>女生上衣</strong></span>
                                        </div>
                                        
                                        <img src="assets/cloth/women_top.jpg">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="right-first-image">
                                    <div class="thumb">
                                        <div class="inner-content">
                                            <h4>&#128086;</h4>
                                            <span><strong>褲子</strong></span>
                                        </div>
                                        <img src="assets/cloth/pants.jpg">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="right-first-image">
                                    <div class="thumb">
                                        <div class="inner-content">
                                            <h4>&#128087;</h4>
                                            <span><strong>裙子</strong></span>
                                        </div>
                                        
                                        <img src="assets/cloth/skirt.jpg">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="right-content">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="right-first-image">
                                    <div class="thumb">
                                        <div class="inner-content">
                                            <h4>&#128096;</h4>
                                            <span><strong>女生鞋子</strong></span>
                                        </div>
                                        
                                        <img src="assets/cloth/women_shoe.jpg">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="right-first-image">
                                    <div class="thumb">
                                        <div class="inner-content">
                                            <h4>&#128094;</h4>
                                            <span><strong>男生鞋子</strong></span>
                                        </div>
                                        
                                        <img src="assets/cloth/shoe.jpg">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="right-first-image">
                                    <div class="thumb">
                                        <div class="inner-content">
                                            <h4>&#129506;</h4>
                                            <span><strong>帽子</strong></span>
                                        </div>
                                        
                                        <img src="assets/cloth/hat.jpg">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="right-first-image">
                                    <div class="thumb">
                                        <div class="inner-content">
                                            <h4>&#127890;</h4>
                                            <span><strong>背包</strong></span>
                                        </div>
                                        
                                        <img src="assets/cloth/bag.jpg">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            </div>
        </div>
    <!-- ***** Main Banner Area End ***** -->

    <section class="section" id="men">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="section-heading">
                        <h2>男生上衣</h2>
                        <span> 新上架</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="women-item-carousel">
                        <div class="owl-women-item owl-carousel">
                          
                             <div class="item" th:each="product,iStat:${plist1}">
                                <div class="thumb" >
                                    <div class="hover-content">
                                        <ul>
                                            <li><a th:href="@{single_product(productid=${product.id})}"><i class="fa fa-eye"></i></a></li>
                                            <li th:if="${session.uid>0 && list1[iStat.index]==true && lists1[iStat.index]==false}" class="btn"><a ><i class="fa fa-heart"></i></a></li>
                                            <li th:if="${session.uid>0 && list1[iStat.index]==false && lists1[iStat.index]==false}" class="btn"><a ><i class="fa fa-heart-o"></i></a></li>
                                            <li style="display:none" class="Productid" th:text="${product.id}"></li>             
                                        </ul>
                                    </div>
                   <div style="height:370px; width:390px">
                   <img class="NO-CACHE" th:if="${product.hasImg==true}" th:src="@{${'assets/images/product/'+product.picnum+product.extension}}" style="max-height:370px; max-width:390px; height:auto; width:auto; text-align:center;" alt="your image">
                   <img th:unless="${product.hasImg==true}" src="assets/images/noimage.jpg" style="max-height:370px; max-width:390px; height:auto; width:auto; text-align:center;" alt="your image" >
                   </div>            
                                </div>
                                <div class="down-content">
                                    <h4 th:text="${product.productName}"></h4>
                                    <span th:text="${'$'+product.productprice}"></span>
                                   <!--  <ul class="stars">
                                        <li><i class="fa fa-star"></i></li>
                                    </ul>--> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
     <section class="section" id="men">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="section-heading">
                        <h2>女生上衣</h2>
                        <span> 新上架</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="women-item-carousel">
                        <div class="owl-women-item owl-carousel">
                          
                             <div class="item" th:each="product,iStat:${plist2}">
                                <div class="thumb" >
                                    <div class="hover-content">
                                        <ul>
                                            <li><a th:href="@{single_product(productid=${product.id})}"><i class="fa fa-eye"></i></a></li>
                                            <li th:if="${session.uid>0 && list2[iStat.index]==true && lists2[iStat.index]==false}" class="btn"><a ><i class="fa fa-heart"></i></a></li>
                                            <li th:if="${session.uid>0 && list2[iStat.index]==false && lists2[iStat.index]==false}" class="btn"><a ><i class="fa fa-heart-o"></i></a></li>
                                            <li style="display:none" class="Productid" th:text="${product.id}"></li>             
                                        </ul>
                                    </div>
                   <div style="height:370px; width:390px">
                   <img class="NO-CACHE" th:if="${product.hasImg==true}" th:src="@{${'assets/images/product/'+product.picnum+product.extension}}" style="max-height:370px; max-width:390px; height:auto; width:auto; text-align:center;" alt="your image">
                   <img th:unless="${product.hasImg==true}" src="assets/images/noimage.jpg" style="max-height:370px; max-width:390px; height:auto; width:auto; text-align:center;" alt="your image" >
                   </div>            
                                </div>
                                <div class="down-content">
                                    <h4 th:text="${product.productName}"></h4>
                                    <span th:text="${'$'+product.productprice}"></span>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
       <section class="section" id="men">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="section-heading">
                        <h2>褲子</h2>
                        <span> 新上架</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="women-item-carousel">
                        <div class="owl-women-item owl-carousel">
                          
                             <div class="item" th:each="product,iStat:${plist3}">
                                <div class="thumb" >
                                    <div class="hover-content">
                                        <ul>
                                            <li><a th:href="@{single_product(productid=${product.id})}"><i class="fa fa-eye"></i></a></li>
                                            <li th:if="${session.uid>0 && list3[iStat.index]==true && lists3[iStat.index]==false}" class="btn"><a ><i class="fa fa-heart"></i></a></li>
                                            <li th:if="${session.uid>0 && list3[iStat.index]==false && lists3[iStat.index]==false}" class="btn"><a ><i class="fa fa-heart-o"></i></a></li>
                                            <li style="display:none" class="Productid" th:text="${product.id}"></li>             
                                        </ul>
                                    </div>
                   <div style="height:370px; width:390px">
                   <img class="NO-CACHE" th:if="${product.hasImg==true}" th:src="@{${'assets/images/product/'+product.picnum+product.extension}}" style="max-height:370px; max-width:390px; height:auto; width:auto; text-align:center;" alt="your image">
                   <img th:unless="${product.hasImg==true}" src="assets/images/noimage.jpg" style="max-height:370px; max-width:390px; height:auto; width:auto; text-align:center;" alt="your image" >
                   </div>            
                                </div>
                                <div class="down-content">
                                    <h4 th:text="${product.productName}"></h4>
                                    <span th:text="${'$'+product.productprice}"></span>
                                  
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
         <section class="section" id="men">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="section-heading">
                        <h2>裙子</h2>
                        <span>新上架</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="women-item-carousel">
                        <div class="owl-women-item owl-carousel">
                          
                             <div class="item" th:each="product,iStat:${plist4}">
                                <div class="thumb" >
                                    <div class="hover-content">
                                        <ul>
                                            <li><a th:href="@{single_product(productid=${product.id})}"><i class="fa fa-eye"></i></a></li>
                                            <li th:if="${session.uid>0 && list4[iStat.index]==true && lists4[iStat.index]==false}" class="btn"><a ><i class="fa fa-heart"></i></a></li>
                                            <li th:if="${session.uid>0 && list4[iStat.index]==false && lists4[iStat.index]==false}" class="btn"><a ><i class="fa fa-heart-o"></i></a></li>
                                            <li style="display:none" class="Productid" th:text="${product.id}"></li>             
                                        </ul>
                                    </div>
                   <div style="height:370px; width:390px">
                   <img class="NO-CACHE" th:if="${product.hasImg==true}" th:src="@{${'assets/images/product/'+product.picnum+product.extension}}" style="max-height:370px; max-width:390px; height:auto; width:auto; text-align:center;" alt="your image">
                   <img th:unless="${product.hasImg==true}" src="assets/images/noimage.jpg" style="max-height:370px; max-width:390px; height:auto; width:auto; text-align:center;" alt="your image" >
                   </div>            
                                </div>
                                <div class="down-content">
                                    <h4 th:text="${product.productName}"></h4>
                                    <span th:text="${'$'+product.productprice}"></span>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
          <section class="section" id="men">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="section-heading">
                        <h2>男生鞋子</h2>
                        <span>新上架</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="women-item-carousel">
                        <div class="owl-women-item owl-carousel">
                          
                             <div class="item" th:each="product,iStat:${plist5}">
                                <div class="thumb" >
                                    <div class="hover-content">
                                        <ul>
                                            <li><a th:href="@{single_product(productid=${product.id})}"><i class="fa fa-eye"></i></a></li>
                                            <li th:if="${session.uid>0 && list5[iStat.index]==true && lists5[iStat.index]==false}" class="btn"><a ><i class="fa fa-heart"></i></a></li>
                                            <li th:if="${session.uid>0 && list5[iStat.index]==false && lists5[iStat.index]==false}" class="btn"><a ><i class="fa fa-heart-o"></i></a></li>
                                            <li style="display:none" class="Productid" th:text="${product.id}"></li>             
                                        </ul>
                                    </div>
                   <div style="height:370px; width:390px">
                   <img class="NO-CACHE" th:if="${product.hasImg==true}" th:src="@{${'assets/images/product/'+product.picnum+product.extension}}" style="max-height:370px; max-width:390px; height:auto; width:auto; text-align:center;" alt="your image">
                   <img th:unless="${product.hasImg==true}" src="assets/images/noimage.jpg" style="max-height:370px; max-width:390px; height:auto; width:auto; text-align:center;" alt="your image" >
                   </div>            
                                </div>
                                <div class="down-content">
                                    <h4 th:text="${product.productName}"></h4>
                                    <span th:text="${'$'+product.productprice}"></span>
                                 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
        <section class="section" id="men">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="section-heading">
                        <h2>女生鞋子</h2>
                        <span>新上架</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="women-item-carousel">
                        <div class="owl-women-item owl-carousel">
                          
                             <div class="item" th:each="product,iStat:${plist6}">
                                <div class="thumb" >
                                    <div class="hover-content">
                                        <ul>
                                            <li><a th:href="@{single_product(productid=${product.id})}"><i class="fa fa-eye"></i></a></li>
                                            <li th:if="${session.uid>0 && list6[iStat.index]==true && lists6[iStat.index]==false}" class="btn"><a ><i class="fa fa-heart"></i></a></li>
                                            <li th:if="${session.uid>0 && list6[iStat.index]==false && lists6[iStat.index]==false}" class="btn"><a ><i class="fa fa-heart-o"></i></a></li>
                                            <li style="display:none" class="Productid" th:text="${product.id}"></li>             
                                        </ul>
                                    </div>
                   <div style="height:370px; width:390px">
                   <img class="NO-CACHE" th:if="${product.hasImg==true}" th:src="@{${'assets/images/product/'+product.picnum+product.extension}}" style="max-height:370px; max-width:390px; height:auto; width:auto; text-align:center;" alt="your image">
                   <img th:unless="${product.hasImg==true}" src="assets/images/noimage.jpg" style="max-height:370px; max-width:390px; height:auto; width:auto; text-align:center;" alt="your image" >
                   </div>            
                                </div>
                                <div class="down-content">
                                    <h4 th:text="${product.productName}"></h4>
                                    <span th:text="${'$'+product.productprice}"></span>
                                 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
         <section class="section" id="men">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="section-heading">
                        <h2>帽子</h2>
                        <span>新上架</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="women-item-carousel">
                        <div class="owl-women-item owl-carousel">
                          
                             <div class="item" th:each="product,iStat:${plist7}">
                                <div class="thumb" >
                                    <div class="hover-content">
                                        <ul>
                                            <li><a th:href="@{single_product(productid=${product.id})}"><i class="fa fa-eye"></i></a></li>
                                            <li th:if="${session.uid>0 && list7[iStat.index]==true && lists7[iStat.index]==false}" class="btn"><a ><i class="fa fa-heart"></i></a></li>
                                            <li th:if="${session.uid>0 && list7[iStat.index]==false && lists7[iStat.index]==false}" class="btn"><a ><i class="fa fa-heart-o"></i></a></li>
                                            <li style="display:none" class="Productid" th:text="${product.id}"></li>             
                                        </ul>
                                    </div>
                   <div style="height:370px; width:390px">
                   <img class="NO-CACHE" th:if="${product.hasImg==true}" th:src="@{${'assets/images/product/'+product.picnum+product.extension}}" style="max-height:370px; max-width:390px; height:auto; width:auto; text-align:center;" alt="your image">
                   <img th:unless="${product.hasImg==true}" src="assets/images/noimage.jpg" style="max-height:370px; max-width:390px; height:auto; width:auto; text-align:center;" alt="your image" >
                   </div>            
                                </div>
                                <div class="down-content">
                                    <h4 th:text="${product.productName}"></h4>
                                    <span th:text="${'$'+product.productprice}"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
           <section class="section" id="men">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="section-heading">
                        <h2>背包</h2>
                        <span>新上架</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="women-item-carousel">
                        <div class="owl-women-item owl-carousel">
                          
                             <div class="item" th:each="product,iStat:${plist8}">
                                <div class="thumb" >
                                    <div class="hover-content">
                                        <ul>
                                            <li><a th:href="@{single_product(productid=${product.id})}"><i class="fa fa-eye"></i></a></li>
                                            <li th:if="${session.uid>0 && list8[iStat.index]==true && lists8[iStat.index]==false}" class="btn"><a ><i class="fa fa-heart"></i></a></li>
                                            <li th:if="${session.uid>0 && list8[iStat.index]==false && lists8[iStat.index]==false}" class="btn"><a ><i class="fa fa-heart-o"></i></a></li>
                                            <li style="display:none" class="Productid" th:text="${product.id}"></li>             
                                        </ul>
                                    </div>
                   <div style="height:370px; width:390px">
                   <img class="NO-CACHE" th:if="${product.hasImg==true}" th:src="@{${'assets/images/product/'+product.picnum+product.extension}}" style="max-height:370px; max-width:390px; height:auto; width:auto; text-align:center;" alt="your image">
                   <img th:unless="${product.hasImg==true}" src="assets/images/noimage.jpg" style="max-height:370px; max-width:390px; height:auto; width:auto; text-align:center;" alt="your image" >
                   </div>            
                                </div>
                                <div class="down-content">
                                    <h4 th:text="${product.productName}"></h4>
                                    <span th:text="${'$'+product.productprice}"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <!-- ***** Footer Start ***** -->
    <footer>
      <div th:replace="header :: footer">Footer</div>
    </footer>
    <div th:replace="header :: userimage">userimage</div>  <!-- ***** image ***** -->
    <div th:replace="header :: userimage2">userimage2</div>  <!-- ***** image ***** -->
      <!-- ***** Footer Ends ***** -->
    <!-- jQuery -->
    <script src="assets/js/jquery-2.1.0.min.js"></script>

    <!-- Bootstrap -->
    <script src="assets/js/popper.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>

    <!-- Plugins -->
    <script src="assets/js/owl-carousel.js"></script>
    <script src="assets/js/accordions.js"></script>
    <script src="assets/js/datepicker.js"></script>
    <script src="assets/js/scrollreveal.min.js"></script>
    <script src="assets/js/waypoints.min.js"></script>
    <script src="assets/js/jquery.counterup.min.js"></script>
    <script src="assets/js/imgfix.min.js"></script> 
    <script src="assets/js/slick.js"></script> 
    <script src="assets/js/lightbox.js"></script> 
    <script src="assets/js/isotope.js"></script> 
    
    <!-- Global Init -->
    <script src="assets/js/custom.js"></script>
     <script src="js/myjs.js"></script>  
               <!--**********myjs**********  <script src="js/myjs.js"></script> !-->

    <script>

    /*$("#searches").click(function(event){
  	  window.location.href='product?category=search&&search='+document.getElementById('search').value;
  	alert("search");
  })   */
 function searching(){  window.location.href='product?category=search&&search='+document.getElementById('searching').value;
	}
      </script>

  </body>
</html>
     <!-- ***** Subscribe Area Starts
    <div class="subscribe">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="section-heading">
                        <h2>By Subscribing To Our Newsletter You Can Get 30% Off</h2>
                        <span>Details to details is what makes Hexashop different from the other themes.</span>
                    </div>
                    <form id="subscribe" action="" method="get">
                        <div class="row">
                          <div class="col-lg-5">
                            <fieldset>
                              <input name="name" type="text" id="name" placeholder="Name" required="">
                            </fieldset>
                          </div>
                          <div class="col-lg-5">
                            <fieldset>
                              <input name="email" type="text" id="email" pattern="[^ @]*@[^ @]*" placeholder="Email" required="">
                            </fieldset>
                          </div>
                          <div class="col-lg-2">
                            <fieldset>
                              <button type="submit" id="form-submit" class="main-dark-button"><i class="fa fa-paper-plane"></i></button>
                            </fieldset>
                          </div>
                        </div>
                    </form>
                </div>
                <div class="col-lg-4">
                    <div class="row">
                        <div class="col-6">
                            <ul>
                                <li>Store Location:<br><span>Sunny Isles Beach, FL 33160, United States</span></li>
                                <li>Phone:<br><span>010-020-0340</span></li>
                                <li>Office Location:<br><span>North Miami Beach</span></li>
                            </ul>
                        </div>
                        <div class="col-6">
                            <ul>
                                <li>Work Hours:<br><span>07:30 AM - 9:30 PM Daily</span></li>
                                <li>Email:<br><span>info@company.com</span></li>
                                <li>Social Media:<br><span><a href="#">Facebook</a>, <a href="#">Instagram</a>, <a href="#">Behance</a>, <a href="#">Linkedin</a></span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** Subscribe Area Ends ***** --> 