<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <title>所有上衣的搜尋結果</title>


    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="assets/css/font-awesome.css">

    <link rel="stylesheet" href="assets/css/templatemo-hexashop.css">

    <link rel="stylesheet" href="assets/css/owl-carousel.css">

    <link rel="stylesheet" href="assets/css/lightbox.css">

    </head>
    <style> 
    .dd a {
  text-decoration: none;
  color: white;
}
    
    </style>
    <body>
    
    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>  
    <!-- ***** Preloader End ***** -->
    
   <!-- ***** Header Area Start ***** -->
      <header class="header-area header-sticky" style="position: fixed; background-color: white;" th:fragment="header">
       <div th:replace="header :: header">Header</div>
      </header>
      <!-- ***** Header Area End ***** -->
       <span hidden id="uid" th:text="${session.uid}"></span>
      
    <!-- ***** Main Banner Area Start ***** -->
    <div th:if="${notseller ==true || seller == null || seller.hasImg ==false}" class="page-heading" id="top">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="inner-content" style="color:white; font-size:x-large;" th:utext="${title}" ></div>
                </div>
            </div>
        </div>
    </div>
    
    <div th:if="${notseller ==false && seller != null && seller.hasImg ==true}"  class="page-heading" id="top" th:styleappend="'background-image:url( ./assets/images/store/'+${seller.picnum}+${seller.extension}"> 
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="inner-content" style="color:white; font-size:x-large;" th:utext="${title}" ></div>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** Main Banner Area End ***** -->


    <!-- ***** Products Area Starts ***** -->

   
        <li class="submenu">                                                                          
        <section class="section" id="products">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-heading">
                            <ul>
                                <li>
                                    <section class="section" id="products">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div class="section-heading">
                                                        <ul>
                                                            <li>
                                                                <button style="background-color:black;color:white" class="dd"><a th:href="@{product(options=0,sellerid=${sellerid},page=${page},category=${category},userid=${userid})}" th:text="${'最新'}"></a></button>
                                                                <button style="background-color:black;color:white" class="dd"><a th:href="@{product(options=1,sellerid=${sellerid},page=${page},category=${category},userid=${userid})}" th:text="${'最熱銷'}"></a></button>
                                                                 <select name="cash" style="background-color:black;color:white" onchange="location = this.value;">
                                                                    <option style ="display: none" value="#">價格</option>
                                                                    <option th:value="${'product?options=3&sellerid='+sellerid+'&page='+page+'&category='+category+'&userid='+userid}" th:text="${'高到低'}"></option>
                                                                    <option th:value="${'product?options=2&sellerid='+sellerid+'&page='+page+'&category='+category+'&userid='+userid}" th:text="${'低到高'}"></option>  
                                                                 </select> 
                                                               
                                                            </li> 
                                                        </ul>
                                
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                       
                                </li> 
                            </ul>
    
                        </div>
                    </div>
                </div>
            </div>
            
         
            
            
     <div class="container">
            <div class="row">
                <div class="col-lg-4" th:each="product,iStat:${plist}">
                    <div class="item">
                        <div class="thumb">
                            <div class="hover-content">
                                <ul>
                                     <li><a th:href="@{single_product(productid=${product.id})}"><i class="fa fa-eye"></i></a></li>
                                     <li th:if="${notseller ==false}" th:utext="${'<a href=sell_management_alter?productid='+product.id+'><i class=&quot;fa fa-wrench&quot;></i></a>'}"></li>
                                     <li th:if="${notseller && session.uid>0 && list1[iStat.index]==true}" class="btn"><a ><i class="fa fa-heart"></i></a></li>
                                     <li th:if="${notseller && session.uid>0 && list1[iStat.index]==false}" class="btn"><a ><i class="fa fa-heart-o"></i></a></li>
                                     <li style="display:none" class="Productid" th:text="${product.id}"></li>    
                                </ul>
                            </div>
                            <div style="height:370px; width:390px">
                   <img class="NO-CACHE" th:if="${product.hasImg==true}" th:src="@{${'assets/images/product/'+product.picnum+product.extension}}" style="max-height:370px; max-width:390px; height:auto; width:auto; text-align:center;" alt="your image">
                   <img th:unless="${product.hasImg==true}" src="assets/images/noimage.jpg" style="max-height:370px; max-width:390px; height:auto; width:auto; text-align:center;" alt="your image" >
                            </div>      
                        </div>
                        <div class="down-content">
                            <h4 th:text="${product.productName}"></h4>
                            <span th:if="${session.currentexR == 'USD' || session.currentexR == 'TWD'}" th:text="${'$ '+#numbers.formatDecimal(product.productprice/session.currentex, 0, 2)}"></span>
                            <span th:unless="${session.currentexR == 'USD' || session.currentexR == 'TWD'}" th:text="${'¥ '+#numbers.formatDecimal(product.productprice/session.currentex, 0, 2)}"></span>
                          <!-- <ul class="stars">
                                  <li><i class="fa fa-star"></i></li>
                            </ul>  --> 
                        </div>
                    </div>
                </div>

                <div class="col-lg-12">
                    <div class="pagination">
                        <ul >
                            <li th:if="${page!=1}"><a th:href="@{product(options=${options},sellerid=${sellerid},page=${page-1},category=${category},userid=${userid})}" th:text="${'<'}"></a></li>
                            <li th:each="num : ${#numbers.sequence(1,page-1)}" th:if="${num>0 && num!=page}"><a th:href="@{product(options=${options},sellerid=${sellerid},page=${num},category=${category},userid=${userid})}" th:text="${num}"></a></li>
                            <li th:if="${#lists.size(plist)>1}" class="active"><a  th:text="${page}"></a></li>
                            <li th:each="num : ${#numbers.sequence(page+1,pages)}" th:if="${page != pages}"><a th:href="@{product(options=${options},sellerid=${sellerid},page=${num},category=${category},userid=${userid})}" th:text="${num}"></a></li>
                            <li th:if="${page!=pages}"><a th:href="@{product(options=${options},sellerid=${sellerid},page=${page+1},category=${category},userid=${userid})}" th:text="${'>'}"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Products Area Ends ***** -->
    
      
    <!-- ***** Footer Start ***** -->
    <footer>
     <div th:replace="header :: footer">Footer</div>
    </footer>
    <div th:replace="header :: userimage">userimage</div>  <!-- ***** image ***** -->
    <div th:replace="header :: userimage2">userimage2</div>  <!-- ***** image ***** -->v
      <!-- ***** Footer Ends ***** -->
    

    <!-- jQuery -->
    <script src="assets/js/jquery-2.1.0.min.js"></script>

    <!-- Bootstrap -->
    <script src="assets/js/popper.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>

    <!-- Plugins -->
    <script src="assets/js/owl-carousel.js"></script>
    <script src="assets/js/accordions.js"></script>
    <script src="assets/js/datepicker.js"></script>
    <script src="assets/js/scrollreveal.min.js"></script>
    <script src="assets/js/waypoints.min.js"></script>
    <script src="assets/js/jquery.counterup.min.js"></script>
    <script src="assets/js/imgfix.min.js"></script> 
    <script src="assets/js/slick.js"></script> 
    <script src="assets/js/lightbox.js"></script> 
    <script src="assets/js/isotope.js"></script> 
    
    <!-- Global Init -->
    <script src="assets/js/custom.js"></script>
    <script src="js/myjs.js"></script>  
    <script>
      $(function() {
            var selectedClass = "";
            $("p").click(function(){
            selectedClass = $(this).attr("data-rel");
            $("#portfolio").fadeTo(50, 0.1);
                $("#portfolio div").not("."+selectedClass).fadeOut();
            setTimeout(function() {
              $("."+selectedClass).fadeIn();
              $("#portfolio").fadeTo(50, 1);
            }, 500);
                
            });
        });
      window.onload = nocache();
      function nocache() {
          
      var nods = document.getElementsByClassName('NO-CACHE');
      for (var i = 0; i < nods.length; i++)
      {    
      var aaa="?a=" + Math.random();
          nods[i].setAttribute("src",nods[i].getAttribute("src")+aaa);
      }
      }
      
      $(".btn").click(function(event){
      	
      	var pid=event.target.parentElement.nextElementSibling;
      	if(pid==null){pid=event.target.parentElement.parentElement.nextElementSibling;}
      	if(pid==null){pid=event.target.parentElement.parentElement.parentElement.nextElementSibling;}
      	if(pid==null){pid=event.target.parentElement.parentElement.parentElement.parentElement.nextElementSibling;}
      	
    	var fav ={'produceid':pid.innerHTML,'uid':document.getElementById("uid").innerText}; 
      	$.ajax({
      		type:"POST",
      		url:"addfav",
      		data: fav,
      	    dataType:"json",
      		success:function (result){
      			if(result.s=='Add To Favorites'){event.target.classList.remove("fa-heart");event.target.classList.add("fa-heart-o");}
      			else{event.target.classList.remove("fa-heart-o");event.target.classList.add("fa-heart");};
      			
      		}
      	});         
      	
      })
    </script>

  </body>

</html>
